<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" description="Laboration med Express">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Laboration 1</title>
</head>

<body>
    <nav>
  
        <div><a href="/">Start</a></div>
        <div><a href="/about">Om</a></div>
        <div><a href="/courses">Kurser</a></div>
    
   
</nav>
    <main>
    <h1>Lägg till ny kurs</h1>
<% if(errors.length> 0) { %>
    <ul>
<% errors.forEach((error) => { %>
    <li><%= error %></li>
    <% }); %>
    
    </ul>
    <% } %>
<form method="post" action="/courses/add">
    <label for="coursecode">Kurskod:</label>
    <input type="text" id="coursecode" name="coursecode" value="<%= courseCode %>">
    <br>
    <label for ="coursename">Kursnamn:</label>
    <input type="text" id="coursename" name="coursename" value="<%= courseName %>">
    <br>
    <label for="syllabus">Kursplan:</label>
    <input type="text" id="syllabus" name="syllabus" value="<%= syllabus %>">
    <br>
    <label for ="progression">Progression:</label>
    <input type="text" id="progression" name="progression" value="<%= progression %>">
    <br>
    <input type="submit" value="Lägg till kurs">
</form>
    </main>
</body>

</html>

