<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
      <nav>
  
        <div><a href="/">Start</a></div>
        <div><a href="/about">Om</a></div>
        <div><a href="/courses">Kurser</a></div>
    
   
</nav>
<main>
<h1>Mina kurser - ett CV</h1> 
   <% if (courses.length === 0) { %>
    <p>Inga kurser finns.</p>
     <% } else { %>

<table>
    <thead>
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>Kursplan</th>
            <th>Progression</th>
            <th>Radera</th>
        </tr>
       </thead>  
    <tbody>
<% courses.forEach(course => { %>
    <tr>
        <td><%= course.coursecode %></td>
        <td><%= course.coursename %></td>
        <td>
            <a href="<%= course.syllabus %>">Kursplan</a>
        </td>
        <td><%= course.progression %></td>
        <td>
           <a href="/courses/delete/<%= course.id %>">Radera</a> 
        </td>
    </tr>
<% }) %>
    </tbody>
</table>
<% } %>
<button onclick="window.location.href='/courses/add'">Lägg till en kurs</button>
</main>
</body>
</html>
